// Place all the styles related to the quests controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
 .wood{
  background-image: 
      url("/assets/wood-texture_00033.jpeg");
  z-index: 0;
 }
 .row.m-flex{
    float: none;
    display: flex;
    flex-flow: row wrap;
  }
  .row.m-flex.m-flex .col{
    float: none;
  }
  .row.m-flex.m-flex .col:not([class*="offset-"]){
    margin-left: unset;
  }
  .register-index{
    background-image: url("/assets/2608796.jpg");
    margin: 0;
   }