// Place all the styles related to the quests controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
 .wood{
  background-image: 
      url("/assets/wood-texture_00033.jpeg");
  position: relative;
  z-index: 0;
 }
 .wood::before {
  content: '';
  position: absolute;
  top: -5px;
  bottom: -5px;
  left: -5px;
  right: -5px;
  background: inherit;
  filter: blur(3px);
  z-index: -1;
 }
 .row.m-flex{
    float: none;
    display: flex;
    flex-flow: row wrap;
  }
  .row.m-flex.m-flex .col{ /* 優先度を上げるために2回指定 */
    float: none;
  }
  .row.m-flex.m-flex .col:not([class*="offset-"]){
    margin-left: unset; /* 元々ついているmargin-left: autoを解除 */
  }