// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.register{
  background-image: url("/assets/2608796.jpg");
  margin: 0 20px 0;
 }
 .user-frame{
  background-image: url("/assets/f1377_1.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
 }
 .avatar{
   position: absolute;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   margin: auto;
   max-width: 90%;
   max-height: 90%;
 }
 .awards{
  position: relative;
 }
 .award{
   position: absolute;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   margin: auto;
   max-width: 100%;
   height: auto;
 }